$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 250% $font-stack;
  color: $primary-color;
  margin: 0;
  padding: 0;
  height: 100%;
}

.presentation {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.presentation > footer {
  font-size: 100%;
  padding: 1em;
  background-color: #efefef;
}

.slide-holder {
  flex: 1;
}

.slide-holder > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slide-holder > .slide-0 {
  font-size: 80%;
}

.slide-holder > .slide-5 blockquote {
  background-color: #3f3f3f;
  color: white;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 30px;

  footer {
    background-color: white;
    color: $primary-color;
  }
}

.rich-hickey-quote {
  display: flex;
  flex-direction: column;

  blockquote {
    margin-left: 0;
    margin-top: 30px;
  }

  .one-true-god {
    align-self: flex-end;
    margin-right: 3rem;
  }
}


.slide-holder > .left-aligned {
  align-items: flex-start;
  margin-left: 5rem;
}

.slide-holder header {
  display: block;
  top: 50px;
  right: 50px;
  text-align: right;
  position: absolute;
}

.slide-holder > .slide-7 {
  // font-size: 500%;
  font-size: 25%;
}

.datomic-data-model {
  font-size: 150%;
}

ul > li {
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

.app-state {
  width: 100%;
  max-width: 500px;
}

code {
  font-family: Consolas, Menlo, Courier, monospace;
  font-size: 80%;
  background-color: #fafafa;
  padding: 10px;
}
